
.DS_Store
Thumbs.db

node_modules/
bun.lockb
package-lock.json
yarn.lock
pnpm-lock.yaml

build/
dist/
.react-router/
.server/
.remix/
.vite/
.cache/

.wrangler/
.mf/
.dev.vars*

.vscode/
!.vscode/settings.json
.idea/

.env
.env.*

coverage/
*.test.ts
*.spec.ts
*.log
*.tsbuildinfo

public/build/